

.navigationBar .menuItem {
    width: auto;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    color: white;
    clear: both;
    margin: 2% -1% 2% -1%;
    padding: 2% 1% 2% 1%;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    font-weight: 100;
}

.navigationBar .menuItem:hover {
    background-color: rgba(66,129,143,255);
    border-bottom: solid white 5px;
    color: white;
    animation-name: fade;
    animation-duration: 1s;
}

.navBarWrapper {
    position: relative;
    background-color: rgba(2, 2, 2, 0.4);
    width:  100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.navigationBar {
    margin-left: 8.5%;
    margin-right: 10%;
    width: 81.5%;
}
.burgerMenu {
    display: none;
}
.footerBackground {
    background-color: rgba(2, 2, 2, 0.4);
    border-top: solid black 1px;
    margin-top: 5%;

}

@keyframes fade {
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(66,129,143,255);
    }
}
@media (max-width: 1270px) {
    .navigationBar {
        display: none;
    }
    .burgerMenu {
        display: inline;
    }
}